/* responsive layouts and breakpoints  */

/* desktop */
@media all and (max-height: 1024px ) {
    
    .container.about
    {
        padding-top:20%;
    }   
    .container.blog {
        padding-top: 10%;
    }
    .container {
        padding-top: 0;
    }
}
/* contact page form @media */
/* small devices, large phones  */
@media all and (min-width: 600px) {

    .form-box,
    .container
    {
        flex-direction: row;
    }

    .form-box label {
        flex-basis: 9rem;
    }
    .form-box input, 
    .form-box select, 
    .form-box textarea,
    .form-box a,
    .container
    {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;

    }
    .form-box button {
    margin-left: 9rem;
    }
    }

/* iPhone*/

@media (max-width: 420px) {
    #articles 
    {
    margin-left: 0;
    margin-right: 0;
    }

    /* extra small device up tp medium device and tablet */
@media (min-width: 0px) and (max-width: 768px) {

    .container.blog {
        padding-top: 100%;
    }
    .footer{
       
        align-items: flex-end;
        bottom: 0%;
        width: 100%;
        margin-top: 180px;
        
    }

    .nav-container,
    .container,
    .button-css
    {
       
    display: flex;
    flex-direction:column;
    align-items: center;
    flex-basis: 9rem;
    }  
    img{
        max-width:100%;
    }

   p
   {
    max-width:100%;
    padding:20px;
   }
        
   .text1,
   .text2,
   .text3,
   .text4,
   .text5
   {

   width: 100%;
   flex-direction: column;
   margin: auto;
   position:absolute
   }
   .container{
    flex-direction: row;
   }
   p{
    float:left;
   }
   #a1.text1,
   #a2.text2
   {
       margin-left: 40px;
   }
   .image-1,
   .image-2,
   .image-3
{
    width: fit-content;
    padding-left: 10px;
    margin-left: 20px;
   }
 
   #a3.text3,
   #a4.text4,
   #a5.text5
   {
    margin-left: 60px;
   }
   
   .image-4,
   .image-5{
    width: fit-content;
    margin-left: 40px;
    padding-right: 10px;
    
   }
.headshot {
    width: fit-content;
    margin-left: 5px;
}
}
}